<ion-content class="ion-padding custom-login">

  <div class="login-container">
    <h2>Inicia sesión</h2>

    <form (ngSubmit)="login()" #loginForm="ngForm">
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <ion-button expand="block" color="primary" type="submit" [disabled]="!loginForm.valid">
        Ingresar
      </ion-button>
    </form>

    <ion-text color="medium" class="extra-links">
      <p>
        ¿No tienes cuenta?
        <a (click)="goToRegister()">Regístrate aquí</a>
      </p>
      <p>
        ¿Olvidaste tu contraseña?
        <a routerLink="/forgot-password">Restablécela aquí</a>
      </p>
    </ion-text>
  </div>

</ion-content>
